In [7]:
import numpy as np
import pandas as pd 
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

apples     12
oranges     8
bananas     5
dtype: int64
apples     10
oranges     6
bananas     3
dtype: int64
apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64
apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64
apples     100
oranges     36
bananas      9
dtype: int64

In [9]:
fruits = pd.Series(data = [10, 6 ,3], index = ['apples', 'oranges', 'bananas'])
print(fruits + 2)
fruits * 2

fruits /2
print(fruits)
print(np.exp(fruits))
print(np.sqrt(fruits))
print(np.power(fruits,2))

fruits['bananas'] + 2
fruits.iloc[0] -2
fruits[['apples', 'oranges']] * 2

apples     12
oranges     8
bananas     5
dtype: int64
apples     10
oranges     6
bananas     3
dtype: int64
apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64
apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64
apples     100
oranges     36
bananas      9
dtype: int64

apples     20
oranges    12
dtype: int64

In [13]:
df1 = pd.read_csv('shopping_trends.csv')
print(df1)

      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
1               2   19    Male        Sweater     Clothing
2               3   50    Male          Jeans     Clothing
3               4   21    Male        Sandals     Footwear
4               5   45    Male         Blouse     Clothing
...           ...  ...     ...            ...          ...
3895         3896   40  Female         Hoodie     Clothing
3896         3897   52  Female       Backpack  Accessories
3897         3898   46  Female           Belt  Accessories
3898         3899   44  Female          Shoes     Footwear
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)       Location Size      Color  Season  \
0                        53       Kentucky    L       Gray  Winter
1                        64          Maine    L     Maroon  Winter
2                        73  Massachusetts    S     Maroon  Spring
3                        90   Rhode Island    M     Maroon  Spring
4                        49         Oregon    M  Turquoise  Spring
...                     ...            ...  ...        ...     ...
3895                     28       Virginia    L  Turquoise  Summer
3896                     49           Iowa    L      White  Spring
3897                     33     New Jersey    L      Green  Spring
3898                     77      Minnesota    S      Brown  Summer
3899                     81     California    M      Beige  Spring

      Review Rating Subscription Status Payment Method   Shipping Type  \
0               3.1                 Yes    Credit Card         Express
1               3.1                 Yes  Bank Transfer         Express
2               3.1                 Yes           Cash   Free Shipping
3               3.5                 Yes         PayPal    Next Day Air
4               2.7                 Yes           Cash   Free Shipping
...             ...                 ...            ...             ...
3895            4.2                  No           Cash  2-Day Shipping
3896            4.5                  No         PayPal    Store Pickup
3897            2.9                  No    Credit Card        Standard
3898            3.8                  No         PayPal         Express
3899            3.1                  No  Bank Transfer    Store Pickup

     Discount Applied Promo Code Used  Previous Purchases  \
0                 Yes             Yes                  14
1                 Yes             Yes                   2
2                 Yes             Yes                  23
3                 Yes             Yes                  49
4                 Yes             Yes                  31
...               ...             ...                 ...
3895               No              No                  32
3896               No              No                  41
3897               No              No                  24
3898               No              No                  24
3899               No              No                  33

     Preferred Payment Method Frequency of Purchases
0                       Venmo            Fortnightly
1                        Cash            Fortnightly
2                 Credit Card                 Weekly
3                      PayPal                 Weekly
4                      PayPal               Annually
...                       ...                    ...
3895                    Venmo                 Weekly
3896            Bank Transfer              Bi-Weekly
3897                    Venmo              Quarterly
3898                    Venmo                 Weekly
3899                    Venmo              Quarterly

[3900 rows x 19 columns]

In [14]:
print(pd.options.display.max_rows)

60

In [18]:
df1.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [29]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pats', 'watch']),
            'Alice': pd.Series(data = [40, 110 , 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}
print(items)
print(type(items))

shopping_carts = pd.DataFrame(items)

bob_shopping_cart = pd.DataFrame(items, columns = ['Alice'])
print(bob_shopping_cart)

sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

data = {'Integers' :[1, 2, 3],
        'Floats' : [4.5, 8.2, 9.6]}
df = pd.DataFrame(data)
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

items2 = [{'bikes': 20, 'pants' : 30, 'watches' : 35},
            {'watches' : 10, 'glasses' : 50, 'bikes' : 15, 'pants' : 5}]

store_items = pd.DataFrame(items2)
store_items = pd.DataFrame(items2, index = ['store 1', ' store 2'])

print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()

{'Bob': bike     245
pats      25
watch     55
dtype: int64, 'Alice': book        40
glasses    110
bike       500
pants       45
dtype: int64}
<class 'dict'>
         Alice
book        40
glasses    110
bike       500
pants       45
shopping_carts has shape: (6, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 12 elements

In [31]:
column_info = df1.dtypes
print(column_info)

Customer ID                   int64
Age                           int64
Gender                       object
Item Purchased               object
Category                     object
Purchase Amount (USD)         int64
Location                     object
Size                         object
Color                        object
Season                       object
Review Rating               float64
Subscription Status          object
Payment Method               object
Shipping Type                object
Discount Applied             object
Promo Code Used              object
Previous Purchases            int64
Preferred Payment Method     object
Frequency of Purchases       object
dtype: object

In [41]:
category_group = df1.groupby('Category')['Purchase Amount (USD)'].mean()

summer_data = df1[df1['Season'] == 'Summer']

average_review_rating = summer_data['Review Rating'].mean()
correlation_age_purchase = df1['Age'].corr(df1['Purchase Amount (USD)'])

print(category_group)

Category
Accessories    59.838710
Clothing       60.025331
Footwear       60.255426
Outerwear      57.172840
Name: Purchase Amount (USD), dtype: float64

In [44]:
df1['Discount Percent'] = (df1['Discount Applied'].str.rstrip('%').astype(float)) / 100.0

ValueError: could not convert string to float: 'Yes'

In [54]:
df1 = df1.drop(columns=['Payment Method', 'Shipping Type'])

print("DataFrame with Removed Columns:")
df1.head()

KeyError: "['Payment Method', 'Shipping Type'] not found in axis"

KeyError: 'Your_Column_Name'